[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
matplotlib = "*"
pycounts-lrh = {editable = true, path = "."}
pyqt5 = "*"

[requires]
python_version = "3.10"
